---

- name: "Enable Cockpit Service on RedHat System"
  hosts: "{{ hostlist | default('127.0.0.1') }}"
  become: true

  tasks:
    - name: "Enable Cockpit Service"
      ansible.builtin.service:
        name: cockpit.socket
        state: started
...