---

- name: "Enable Cockpit on RedHat System"
  hosts: "{{ hostlist | default('127.0.0.1') }}"
  become: true

  tasks:
    - name: "Enable Cockpit"
      ansible.builtin.dnf:
        name: cockpit.socket
        state: latest
...